* {
  box-sizing: border-box;
}


body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/background.jpg");
    background-color: #cccccc;
    margin: 0;
}
p {
    border-radius: 5%;
    background-color: #b68f40db;
    text-align: justify;
    color: #000000;
    border: 2px solid #545454;
    font-size: 1.5rem;
    padding-inline-start: 1%;
    padding-inline-end: 1%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    margin-left:4%;
    margin-right:4%;
    }
#bio,#appearance,#powerz,#aboutme,#quizz{
    background-color: #00000096;
    margin-bottom: 1%;
    align-items: center;
    border-radius: 5%;
    padding-bottom: 0.5%;
   
    
}
#bio img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: 3px solid #545454;
       
}
#aboutme img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #545454;
    border-radius: 5%;
}

body h1{
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 40px;
    text-align: center;
    color: #B68F40;
    text-shadow: 2px 2px 2px #30011E, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
body h2 {
    font-family: 'Tangerine';
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 7rem;
    text-align: center;
    color: #B68F40;
    text-shadow: 2px 2px 2px #30011E, 5px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 1%;
    
}
body h3 {
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 2rem;
    text-align: center;
    color: #B68F40;
    text-shadow: 2px 2px 2px #30011E, 5px 4px 0px rgba(0, 0, 0, 0.15);
    }
ol{
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    text-align: center;
    color: #B68F40;
    text-shadow: 2px 2px 2px #30011E, 5px 4px 0px rgba(0, 0, 0, 0.15);
 }


.header {
  padding: 60px;
  text-align: center;
  background: transparent;
  color: white;
  }
  header h1 {
    font-size: 70px;
    font-weight: 600;
    color: #B68F40;
    padding: 0%
}
#headerimage {
    border: 1px solid #545454;
    border-radius: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.navbar {
  display: flex;
  background-color: #333333b7;
  position: fixed;
  border-radius: 5%;

}


.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.row {  
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%;
  background-color: transparent;
  padding: 20px;
  align-items: center;
  text-align: center;
  
}

.main {
  flex: 70%;
  
  padding: 20px;
}


.footer {
  padding: 20px;
  background: rgba(255, 255, 255, 0.301);
  background-image: url("images/footer.svg");
}
.footer p{
    text-align: right;
    background-color:transparent;
    border:none;
}

.flex-container {
    display:flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: top;
}

   
      
.question{

   border:2px solid #545454;
    margin: 1%;
    background-color: #545454c0;
    border-radius: 5%;
    width:75%;
    padding-bottom: 2%;
 
   
}
.question p{
text-align: center;
padding:1%;
background-color: transparent;
color:#eece8e;
border:none;
text-shadow: 1px 2px 3px #000000;
font-size: 1.8rem;


}


label{
  display: inline-block;
   vertical-align: top;
   margin-right: 3%;
 color: #B68F40;
 text-shadow: 1px 2px 3px #000000;
 align-items: center;
  text-align: center;
 font-size: 1.4rem;

 
 
}
button{
  display: block;
    color: #B68F40;
    background: rgba(68, 68, 68, 0.795);
    border: 3px solid ;
    font-size: 2rem;
    border-radius: 10%;
    padding: 1%;
   margin-right:auto;
   margin-left:auto;
   
}
#result{
    font-size: 2rem;
    font-weight: 600;
    color: #B68F40;
    padding: 0%;
    text-shadow: 1px 2px 3px #000000;
    margin-top: 1%;
    margin-right:auto;
    margin-left:auto;
    display: block;
    text-align: center;
}

#powerz img {
    border: #545454 solid 3px;
    display:inline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    border: 3px solid #545454;


}
#power-img{
 
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
#portrait {
    width: 400px;
    height: auto;
    border-radius: 5%;
    border: 3px solid #545454;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chibi{
    height: auto;
    width: 40%;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .flex-container {
    flex-direction: column;
  }
  .navbar {
    position:sticky;
  }
}
 